/* Background Colours */
$primary-color: rgb(241, 157, 0);
$secondary-color: rgb(241, 157, 0);
$bg-color-1: rgb(233, 233, 233);
$bg-color-2: rgb(219, 219, 219);
$bg-color-21: rgb(230, 230, 230);
$bg-color-3: rgb(245, 245, 245);
$bg-color-4: rgb(236, 236, 236);
$bg-color-social: rgb(180, 180, 180);
$bg-color-footer: rgb(60, 60, 60);

/* Navigation Bar Colours */
$nav-color: rgb(241, 157, 0);
$nav-hover-color: rgb(212, 138, 0);
$nav-text-color: rgb(255, 255, 255);
$nav-text-hover-color: rgb(255, 255, 255);

/* Header and Text Colours */
$header-color: rgb(26, 26, 26);
$primary-text-color: rgb(20, 20, 20);
$secondary-text-color: rgb(51, 51, 51);
$inverse-text-color: rgb(255, 255, 255);

/* Font Weights */
$font-weights: (
    "light": 300,
    "regular": 400,
    "bold": 700
);