
/* ---========== FONT IMPORT FROM GOOGLE ==========--- */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/* ---========== HTML & BODY ==========--- */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
   /* Base font size: 16px so,
        1rem = 16px,
        1,5rem = 24px, 
        2rem = 32px etc. */
    height: 100%;
    width: 100%;
    margin: 0px;
    padding-top:75px; /*height of fixed navbar*/
}


/* ---========== NAVIGATION BAR ==========--- */
.navbar {
    background-color: rgb(241, 157, 0);
    padding: 20px 30px 20px 30px;
    font-size: 1.4rem;
    position: fixed;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; 
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.navbar-nav li {
    padding-left: 10px;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.nav-link:hover {
    background-color: rgb(212, 138, 0);
    color: white;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: white;
} 
.navbar-shrink {
    padding: 5px 30px 5px 30px !important;
    font-size: 1.2rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;  
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.current {
    background-color: rgb(212, 138, 0);
  }


/* ---========== HOME ==========--- */
.home {
    background-image: url("img/Artboard1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 2rem;
}
.home h1 {
    font-size: 400%;
    font-weight: 400;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.home hr.first {
    border-top: 1px solid;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.home hr.second {
    border-top: 1px solid;
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.home .lead {
    font-size: 150%;
    font-weight: 400;
}


/* ---========== ABOUT ME ==========--- */
.aboutme {
    padding-top: 6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.photo {
    max-width: 100%;
}


/* ---========== WHAT I DO ==========--- */
.whatido {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.whatido h2 {
    font-size: 300%;
    font-weight: 400;
    padding-bottom: 2rem;
}
.whatido hr {
    border-top: 1px solid gray;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* ---========== PORTFOLIO ==========--- */
.portfolio-title
{
    padding-top: 6rem;
    font-size: 28pt;
    color: orange;
    text-align: center;
    font-weight: 500;
}
.portfolio-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
}
.filter-button
{
    font-size: 20pt;
    border: 1px solid orange;
    border-radius: 5px;
    text-align: center;
    color: orange;
    margin-bottom: 1rem;

}
.filter-button:hover
{
    font-size: 20pt;
    border: 1px solid orange;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: white;

}
.btn-default:active .filter-button:active
{
    background-color: orange;
    color: white;
}

.port-image
{
    width: 100%;
}

.portfolio_item
{
    margin-bottom: 30px;
}


/* ---========== MY TOOLKIT ==========--- 
.toolkit {
    background-color: whitesmoke;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.toolkit h2 {
    font-size: 300%;
    font-weight: 400;
    padding-bottom: 1rem;
}
.toolkit hr {
    border-top: 1px solid black;
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.toolkit-button .btn {
    color: orange;
    font-weight: 900;
    background-color: white;
    border: 2px solid orange;
}
.toolkit-button .btn:hover {
    background-color: orange;
    color: white;
} */


/* ---========== CONTACT ==========--- */
.contact {
    padding-top: 6rem;
    background: white;
}
.contact h3 {
    font-size: 300%;
    font-weight: 200;
}
.contact hr {
    border-top: 1px solid black;
    width: 75%;
}


/* ---========== SOCIAL MEDIA ==========--- */
.social {
    background-color: rgb(180, 180, 180);
    padding: 1rem;
}
.social a {
    padding: 0.5rem;
}


/* ---========== FOOTER ==========--- */
footer {
    background-color: rgb(60, 60, 60);
    color: white;
    padding-top: .5rem;
}
footer h5 {
    font-weight: 200;
    font-size: 120%;
}
footer a {
    padding: 0.1rem;
}


/* ---========== MEDIA QUERIES ==========--- */
@media (max-width: 992px) {

}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/* ---========== Bootstrap Padding Fix ==========--- */
[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
